@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Gasoek+One&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
    --font-md: "Oswald", sans-serif;
    --font-lg: "Gasoek One", sans-serif;
    --font-logo: "Fontdiner Swanky", serif;
    --color-red: #c8102e;
    --color-blue: #1d428a;
    --color-offwhite: #eeeeee;
    --animate-bounce-horizontal: bounce-horizontal 1s infinite;
    --animate-rock: rock 1.5s ease-in-out infinite;

    @keyframes rock {
        50% { transform: rotate(-40deg); }
        0%, 100% { transform: rotate(0deg); }
    }

    @keyframes bounce-horizontal {
        50% {
            transform: translateX(20%);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        0%, 100% {
            transform: none;
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }
}

html {
    @apply bg-offwhite font-md;
}