footer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    /* min-height: 50px; */
    flex:1;
    /* border-top: 3px solid rgb(99,99, 99); */
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 70%);
}